.gu-login-helps {
    display: flex;
    justify-content: flex-end;
  }
  
  .gu-btn-helps {
    color: #8C8C8C;
    margin-left: 15px;
    text-decoration-line: none;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 220px;
  }
  