<p-toast></p-toast>
<div class="p-grid">
    <div class="p-col">
        <div class="box gu-content">
            <div class="card">
                <div class="gu-form-title">
                    Đăng nhập
                </div>
                <div class="loading-container p-mt-2" *ngIf="loading">
                    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                    <div class="p-mt-1">Đang đăng nhập...</div>
                </div>
                <div *ngIf="!loading" class="p-mt-3">
                    <div class="p-fluid p-mb-4">
                        <div class="p-field">
                            <label for="email">Email</label>
                            <input [(ngModel)]="email" id="email" pInputText type="text" />
                        </div>
                        <div class="p-field">
                            <label for="password">Mật khẩu</label>
                            <p-password [(ngModel)]="password" [feedback]="false" id="password"
                                [toggleMask]="true"></p-password>
                        </div>
                    </div>
                    <div class="captcha">
                        <p-toast></p-toast>
                        <p-captcha siteKey="6Le5sc8jAAAAAAoXLmOSvwEFZeyYsrEE7Zg2sCJP"
                            (onResponse)="showResponse($event)" initCallback="onloadCallback" size="normal">
                        </p-captcha>
                    </div>
                    <button pButton type="button" label="Đăng nhập" class="p-button-primary" style="width: 100%;"
                        (click)="login()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
